<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Bidding_system</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
		<servlet-name>addItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addItem</servlet-name>
		<url-pattern>/item_new</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>viewItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>viewItem</servlet-name>
		<url-pattern>/item_list</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>insertItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>insertItem</servlet-name>
		<url-pattern>/item_insert</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteItem</servlet-name>
		<url-pattern>/item_delete</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>editItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>editItem</servlet-name>
		<url-pattern>/item_edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateItem</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateItem</servlet-name>
		<url-pattern>/item_update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.addItems.itemServelet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
  
</web-app>